<app-ng-style></app-ng-style>
<hr>
<app-css></app-css>
<p>hola mundo desde app.component</p>
<hr>
<app-clases></app-clases>
<hr>
<h5>144. Directivas personalizadas</h5>
<p [appResaltado]="'red'">
    Hola mundo
</p>
<hr>
<app-ng-switch class="mt-2"></app-ng-switch>

<hr>

<h5>*ngIf with else</h5>

<div *ngIf="usuario; else login">
    Bienvenido {{usuario}}
    <button type="button" class="btn btn-primary" (click)="usuario=null">Salir</button>
</div>

<ng-template #login>
    Por favor ingrese
    <button type="button" class="btn btn-primary" (click)="usuario='edson'">Ingresar</button>
</ng-template>

<br>
<br>